<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Grenze|Roboto+Mono&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/9296c7e2d5.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <div class="columns">
      <%= render 'layouts/navigation' %>
      <%= yield %>
    </div>
  </body>
</html>
